body{
    font-family: 'ABeeZee', sans-serif;
    height: 100vh;
    width: 100%;
    background-image: url(../images/13H.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.card{
    min-width: 70vw;
    min-height: 80vh;
    margin-top: 10vh;
    margin-left: 15vw;
    position: absolute;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.info{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 70%;
    text-align: right;
    background-image: url(../images/Golden_Fog\,_San_Francisco.jpg);
    background-size: cover;
}
.info_headers{
    margin:30px;
}
.info_header{
    color: #64dbff;
    font-size: 40px;
}
.info_descr{
    color: #000000af;
    line-height: 29px;
    letter-spacing: 1.71429px;
    font-size: 18px;
    font-weight: bold;
}
.content{
    margin:50px 55px;
    color: #ffffff;
    text-align: left;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.degrees{
    font-size: 150px;
    line-height: 150px;
    letter-spacing: -7px;
}
.time{
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.555556px;
}
.date{
    opacity: 0.85;
    letter-spacing: -0.5px;
    font-size: 28px;
    line-height: 28px;
    margin-top: 5px;
}
.nav{
    margin-top: 30px;
    padding: 0 30px;
    display: flex;
    border-bottom: 2px solid #D6E6F1;
}
.main{
    width: 40%;
    text-align: center;
    color: #9E9E9E;
}
.logo img{  
    margin-top: 30px;
    margin-bottom: 20px;
    width: 127px;
    height: 105px;
}
.logo{
    width: 100%;
    text-align: center;
}
.main_header{
    font-size: 24px;
    line-height: 24px;      
}
.nav_item{
    cursor: pointer;
    padding: 15px;
    border-bottom: 4px solid transparent;
    transition: .3s;
}
.nav_item:hover{
    border-bottom-color:#B5DDFA;
}
.active{
    color: #000;
    border-bottom-color:#B5DDFA;
}
.wisible{
    display: block;
}
.none{
    display: none;
}
.list_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    margin: 10px 40px;
    padding: 10px 20px;
    border-bottom: 1px solid #D6E6F1;
}
.getCity{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    background-color: #fff;
    padding: 25px;
}
.getCity h1{
    margin:15px 0;
    font-size: 30px;
}
.getCity input{
    outline: none;
    border: none;
    margin:25px 0;
    cursor: pointer;
    border-bottom: 2px solid #D6E6F1;
    font-size: 16px;
    padding: 5px;
}
.getCity button{
    outline: none;
    border: none;
    margin:5px 0;
    cursor: pointer;
    border: 1px solid #9E9E9E;
    font-size: 16px;
    padding: 5px;
}
.getCity button:active{
    transform: scale(0.98);
}
.cont{
    display: flex;
    align-items: center;
}
.cont img{
    width: 40px;
    height: 40px;
}
.listTime{
    font-size: 20px;
}
.back{
    position: absolute;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    color: #9E9E9E;
}
@media (max-width:1000px){
    .card{
    min-width: 0;
    min-height: 0;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    }
    .info{
        width: 60%;
    }
}

@media (max-width:830px){
    body{
        background-image: unset;
        background-color: #fff;
    }
    .content {
    text-align: center;
    flex-direction: column-reverse;
    margin: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    }
    .info{
        width: 50%;
    }
}
@media (max-width:630px){

    .content{
        margin-right:4vw;
        margin-bottom:4vw;
    }
    .list_item {
        margin: 4vw 8vw;
        padding: 3vw 6vw;
    }
    .card{
        flex-direction: column-reverse;
    }    
    .info{
        position: absolute;
        width: 100%;
        top: 0;
        flex-direction: row;
        height: 38%;   
    }
    .main{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 64%;   
    }
    .logo img{
        display: none;
    }
    .logo h1{
        line-height: unset;
        font-size: 5vw;
        position: absolute;
        right:1vw;
        top: 7.5vw;
        color: #64dbff;
    }
    .info_header {
        color: #000;
    }
    .info_descr{
        color: #64dbff;
    }
    .nav{
        margin-top: 4vw;
        padding: 0;
        font-size: 3.5vw;
    }
    .list_item,.listTime {
        font-size: 3vw;
    }
    .degrees {
        font-size: 25vw;
        line-height: unset;
        letter-spacing: -2vw;
    }
    .info_header {
        font-size: 8vw;
        line-height: unset;
    }
    .info_headers {
        margin: 6vw;
        text-align: left;
        line-height: unset;
    }
    .info_descr {
        font-size: 4vw;
        line-height: unset;
    }
    .time {
    font-size: 5.5vw;
    line-height: unset;
    }
    .date {
        font-size: 5.5vw;
        line-height: unset;
        margin: 0;
    }   
    .nav_item{
        padding: 4vw;
        border-bottom: 1vw solid transparent;
    }
    .active{
        border-bottom-color:#B5DDFA;
    }
    .back{
        padding: 4vw;
        font-size: 3vw;
        top: 33%;
        z-index: 999;
    }
}